body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
  height: 100vh;
}

.item{
  background: lightsalmon;
  padding: 10px;
  border: 1px solid lightslategray;
}

.item:nth-of-type(1){
  background: mediumseagreen;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item:nth-of-type(8){
  background: mediumslateblue;
  grid-column: 1 / -1;
}

.item:nth-of-type(7){
  background: mediumvioletred;
  grid-column: 2 / 4;
}