body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: [start-col] 1fr [col1] 1fr [col2] 1fr [destacado1-end] 1fr [col4] 1fr [destacado2-end] 1fr [col6] 1fr [end-col];
  grid-template-rows: [start-row] 200px [row1] 200px [end-row];
  height: 100vh;
  gap: 5px;
  /* grid-auto-flow: 1fr; */
  /* grid-auto-columns: 100px 25px; */
  grid-auto-rows: 50px 100px;
}

.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid lightgreen;
}

.item:nth-of-type(1){
  grid-column: start-col / destacado1-end;
  grid-row: start-row / end-row;
  /* grid-row: 1 / span 2; */
}

.item:nth-of-type(2){
  grid-column: destacado1-end / destacado2-end;
  grid-row: start-row / end-row;
  /* grid-row: 1 / span 2; */
}

.item:nth-of-type(3){
  grid-column: destacado2-end / end-col;
}